html {
  overflow: hidden; }

body {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden; }

.ring {
  border: 1px solid #030;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%; }

.ring-0 {
  width: 100px;
  height: 100px;
  transform: translate(-50px, -50px); }

.ring-1 {
  width: 200px;
  height: 200px;
  transform: translate(-100px, -100px); }

.ring-2 {
  width: 300px;
  height: 300px;
  transform: translate(-150px, -150px); }

.ring-3 {
  width: 400px;
  height: 400px;
  transform: translate(-200px, -200px); }

.ring-4 {
  width: 500px;
  height: 500px;
  transform: translate(-250px, -250px); }

.ring-5 {
  width: 600px;
  height: 600px;
  transform: translate(-300px, -300px); }

.ring-6 {
  width: 700px;
  height: 700px;
  transform: translate(-350px, -350px); }

.ring-7 {
  width: 800px;
  height: 800px;
  transform: translate(-400px, -400px); }

.spoke-0 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(0deg); }

.spoke-1 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(30deg); }

.spoke-2 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(60deg); }

.spoke-3 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(90deg); }

.spoke-4 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(120deg); }

.spoke-5 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(150deg); }

.spoke-6 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(180deg); }

.spoke-7 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(210deg); }

.spoke-8 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(240deg); }

.spoke-9 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(270deg); }

.spoke-10 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(300deg); }

.spoke-11 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(330deg); }

.spoke-12 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(360deg); }

.spoke-13 {
  height: 500px;
  background-color: #030;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: rotate(390deg); }

.beam {
  height: 500px;
  background-color: #0D0;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.target {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0F0;
  box-shadow: 0 0 15px 15px green;
  animation: 3s fade linear forwards; }

/*
.target--visible {
    visibility: visible;
    // transition: all .5s linear;
}

.target--active {
    transition: none;
    opacity: 1;
    transform: scale(2.5);
    // animation: 1s fade linear;
}

.target--close {
    transition: none;
    background-color: #F00;
    box-shadow: 0 0 5px 5px #C00;
    animation: 1s fade linear infinite;
}
*/
@keyframes fade {
  from {
    opacity: 1;
    transform: scale(2); }
  to {
    opacity: 0;
    transform: scale(0); } }

/*# sourceMappingURL=styles.css.map */
